@import url("https://fonts.googleapis.com/css2?family=Athiti&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@500&family=Cinzel:wght@500&family=Dancing+Script:wght@600;700&family=Poppins:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #335E61;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 80vw;
  height: 85vh;
  background-color: #CACACA;
  display: flex;
}
.container .firstContainer {
  width: 50%;
  height: 100%;
  background-color: #FFFFFF;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .firstContainer .detailContainer {
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.container .firstContainer .detailContainer .logowithname {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.container .firstContainer .detailContainer .logowithname .logo img {
  width: 4rem;
  height: 4rem;
}
.container .firstContainer .detailContainer .logowithname .name {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .firstContainer .detailContainer .logowithname .name img {
  width: 10rem;
  height: 3.7rem;
}
.container .firstContainer .detailContainer .createAccount {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  font-size: 1.2rem;
}
.container .firstContainer .detailContainer .createAccount .inputFields {
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
}
.container .firstContainer .detailContainer .createAccount .inputFields input {
  width: 100%;
  padding: 0.7rem 1rem;
  margin: 0.5rem 0;
  border: 1px solid gray;
  border-radius: 2px;
}
.container .firstContainer .detailContainer .createAccount .inputFields .agreeCondition {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.container .firstContainer .detailContainer .createAccount .inputFields .agreeCondition input {
  margin-right: 1rem;
  width: auto;
  cursor: pointer;
}
.container .firstContainer .detailContainer .createAccount .inputFields .agreeCondition a {
  text-decoration: none;
}
.container .firstContainer .detailContainer .signupandin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .firstContainer .detailContainer .signupandin button {
  text-align: center;
  margin: 1rem 0rem;
  list-style: none;
  background-color: #335E61;
  width: 100%;
  padding: 0.6rem;
  font-size: 1.4rem;
  border-radius: 0.8rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: white;
}
.container .firstContainer .detailContainer .haveAccount {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.container .firstContainer .detailContainer .haveAccount p {
  color: gray;
}
.container .firstContainer .detailContainer .haveAccount p a {
  cursor: pointer;
  text-decoration: none;
  color: #335E61;
}
.container .secondContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.container .secondContainer .aboutandcontact {
  margin: 1.5rem;
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
  font-size: 1.4rem;
  height: 3rem;
  font-weight: bolder;
}
.container .secondContainer .aboutandcontact p a {
  margin: 1rem;
  text-decoration: none;
  color: #335E61;
}
.container .secondContainer .imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  height: 70%;
}
.container .secondContainer .imageContainer img {
  height: 100%;
  width: 90%;
}/*# sourceMappingURL=register.css.map */